<div
  class="
    bg-dark
    w-100
    text-center text-light
    position-fixed
    left-0
    bottom-0
    p-1
    mt-3
  "
>
  <p class="m-0">
    Built by
    <a
      href="https://github.com/Ajinkyap22"
      target="_blank"
      rel="noreferrer noopener"
      class="link-danger text-decoration-none"
    >
      Ajinkya Palaskar
    </a>
    |
    <a
      href="https://github.com/Ajinkyap22/basic-banking-system"
      target="_blank"
      rel="noreferrer noopener"
      class="link-danger text-decoration-none"
    >
      Source code
    </a>
  </p>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
  crossorigin="anonymous"
></script>
