<nav
  class="
    navbar navbar-expand-lg navbar-light
    bg-light
    sticky-top
    py-3
    shadow-sm
  "
>
  <div class="container-fluid">
    <a class="navbar-brand px-3 text-dark" href="/store">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        width="1.8em"
        height="1.8em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          d="M9 7h6v2h-2v8h-2V9H9V7m3-5a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8a8 8 0 0 0 8 8a8 8 0 0 0 8-8a8 8 0 0 0-8-8z"
          fill="currentColor"
        />
      </svg>
      TSF Bank</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item px-3">
          <a class="nav-link text-dark" href="/">Home</a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-dark" href="/customers">Customers</a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-dark" href="#">Transfer Money</a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-dark" href="/transactions"
            >Transaction History</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
