<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <header><%- include('./partials/header') -%></header>

    <section
      class="
        container-fluid
        h-100
        d-flex
        align-items-center
        justify-content-center
        flex-column
        hero
      "
    >
      <div class="pb-3 text-center text-capitalize">
        <h1>Digital banking made easy</h1>

        <small class="text-white spacing fw-lighter py-1"
          >Transfer money in a flash</small
        >
      </div>

      <div class="my-3 text-center mb-5">
        <% if (!user) { %>
        <a href="/signup" class="btn btn-light m-2 py-2">
          <i class="bi bi-bookmark-star"></i> Become a Member
        </a>
        <a href="/login" class="btn btn-outline-light m-2 py-2">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
        <% } else { %>

        <a href="/transfer" class="btn btn-light m-2 py-2">
          <i class="bi bi-arrow-down-up"></i> Transfer Money
        </a>
        <a href="/customers" class="btn btn-outline-light m-2 py-2">
          <i class="bi bi-people"></i> View Customers
        </a>
        <% } %>
      </div>
    </section>

    <section class="py-5 text-center services">
      <h1>Our Services</h1>

      <div class="row m-auto w-100 py-5">
        <div
          class="col-md-3 service m-auto p-3 border border-secondary rounded"
        >
          <!-- icon -->
          <i class="bi bi-currency-exchange display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Instant Transactions</h5>
          <!-- desc -->
          <p class="py-2">Send and receive money faster than flash himself</p>
        </div>

        <div
          class="col-md-3 service m-auto p-3 border border-secondary rounded"
        >
          <!-- icon -->
          <i class="bi bi-clock-history display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Transaction History</h5>
          <!-- desc -->
          <p class="py-2">
            Complete log of all your transactions to keep track
          </p>
        </div>

        <div
          class="col-md-3 service m-auto p-3 border border-secondary rounded"
        >
          <!-- icon -->
          <i class="bi bi-bookmark-check-fill display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Transaction Descriptions</h5>
          <!-- desc -->
          <p class="py-2">
            Add a description to your transaction to remember what it was for
          </p>
        </div>
      </div>

      <% if (!user) { %>
      <a class="btn btn-outline-dark fw-bold py-3" href="/signup"
        >Join Us Now</a
      >
      <% } else { %>
      <a class="btn btn-outline-dark fw-bold py-3" href="/transfer">
        Make a Transaction
      </a>
      <% } %>
    </section>

    <hr />

    <!-- faq -->
    <section class="py-5 faq">
      <h1 class="py-3 text-center">Frequently Asked Questions (FAQ)</h1>

      <div class="accordion accordion-flush p-3" id="accordionFlushExample">
        <!-- 1 -->
        <div
          class="
            accordion-item
            border-bottom border-2 border-top-0 border-start-0 border-end-0
          "
        >
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Is this a real bank?
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-4">
              No it is not. It is just a project I did during an internship.
            </div>
          </div>
        </div>

        <!-- 2 -->
        <div
          class="
            accordion-item
            border-bottom border-2 border-top-0 border-start-0 border-end-0
          "
        >
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              How do I become a member?
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-4">
              Just click on the 'Become a member' or 'Sign up' button. Fill the
              form & you're now a member! it's super simple.
            </div>
          </div>
        </div>

        <!-- 3 -->
        <div class="accordion-item border-bottom border-2">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              How do I send money to someone?
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-4">
              After logging in, click on the 'Transfer Money' button on the
              Homepage or the Navigation Bar. Select the receiver, the amount &
              it's done! We advise you to add descriptions, so it'll be easier
              to track in the future.
            </div>
          </div>
        </div>

        <!-- 4 -->
        <div class="accordion-item border-bottom border-2">
          <h2 class="accordion-header" id="flush-headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Where is my transaction history?
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-4">
              After logging in, click on the 'Transaction History' button on the
              Navigation bar & you will see your transactions sroted by latest
              to oldest.
            </div>
          </div>
        </div>

        <!-- 5 -->
        <div class="accordion-item border-bottom border-2">
          <h2 class="accordion-header" id="flush-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              What are descriptions?
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-4">
              Descriptions are notes that you can add to your transactions to
              keep track of what it was for. Description might help you analyze
              your finances or for cutting back costs. E.g. 'Rent', 'College
              Fees', 'Breakfast', 'Allowance' etc.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="copyright text-center py-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        width="50"
        height="50"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 25"
        class="mb-3"
      >
        <path
          d="M9 7h6v2h-2v8h-2V9H9V7m3-5a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8a8 8 0 0 0 8 8a8 8 0 0 0 8-8a8 8 0 0 0-8-8z"
          fill="currentColor"
        />
      </svg>
      <span class="display-6">TSF Bank</span>
      <p>© TSF Bank 2021, We have no copyrights whatsoever!</p>
    </section>

    <footer><%- include('./partials/footer') -%></footer>
  </body>
</html>
