<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <header><%- include('./partials/header') -%></header>

    <section
      class="
        container-fluid
        h-100
        d-flex
        align-items-center
        justify-content-center
        flex-column
        hero
      "
    >
      <div class="pb-3 text-center text-capitalize">
        <h1>Digital banking made easy</h1>

        <small class="text-white spacing fw-lighter py-1"
          >Transfer money in a flash</small
        >
      </div>

      <div class="my-3 text-center mb-5">
        <% if (!user) { %>
        <a href="/signup" class="btn btn-light m-2 py-2">
          <i class="bi bi-bookmark-star"></i> Become a Member
        </a>
        <a href="/login" class="btn btn-outline-light m-2 py-2">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
        <% } else { %>

        <a href="/transfer" class="btn btn-light m-2 py-2">
          <i class="bi bi-arrow-down-up"></i> Transfer Money
        </a>
        <a href="/customers" class="btn btn-outline-light m-2 py-2">
          <i class="bi bi-people"></i> View Customers
        </a>
        <% } %>
      </div>
    </section>

    <section class="py-5 text-center services">
      <h1>Our Services</h1>

      <div class="row m-auto w-100 py-5">
        <div class="col-md-3 m-auto p-3 border border-secondary rounded">
          <!-- icon -->
          <i class="bi bi-currency-exchange display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Instant Transactions</h5>
          <!-- desc -->
          <p class="py-2">Send and receive money faster than flash himself</p>
        </div>

        <div class="col-md-3 m-auto p-3 border border-secondary rounded">
          <!-- icon -->
          <i class="bi bi-clock-history display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Transaction History</h5>
          <!-- desc -->
          <p class="py-2">
            Complete log of all your transactions to keep track
          </p>
        </div>

        <div class="col-md-3 m-auto p-3 border border-secondary rounded">
          <!-- icon -->
          <i class="bi bi-bookmark-check-fill display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Transaction Descriptions</h5>
          <!-- desc -->
          <p class="py-2">
            Add a description to your transaction to remember what it was for
          </p>
        </div>
      </div>

      <button class="btn btn-outline-dark fw-bold py-3">Join Us Now</button>
    </section>

    <!-- faq -->
    <section class="py-5">
      <h1 class="py-3 text-center">Frequently Asked Questions (FAQ)</h1>

      <div class="accordion accordion-flush p-3" id="accordionFlushExample">
        <!-- 1 -->
        <div
          class="
            accordion-item
            border-bottom border-2 border-top-0 border-start-0 border-end-0
          "
        >
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Accordion Item #1
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              first item's accordion body.
            </div>
          </div>
        </div>

        <!-- 2 -->
        <div
          class="
            accordion-item
            border-bottom border-2 border-top-0 border-start-0 border-end-0
          "
        >
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Accordion Item #2
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              second item's accordion body. Let's imagine this being filled with
              some actual content.
            </div>
          </div>
        </div>

        <!-- 3 -->
        <div class="accordion-item border-bottom border-2">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Accordion Item #3
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              third item's accordion body. Nothing more exciting happening here
              in terms of content, but just filling up the space to make it
              look, at least at first glance, a bit more representative of how
              this would look in a real-world application.
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer><%- include('./partials/footer') -%></footer>
  </body>
</html>
