<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <header><%- include('./partials/header') -%></header>

    <section
      class="
        container-fluid
        h-100
        d-flex
        align-items-center
        justify-content-center
        flex-column
        hero
      "
    >
      <div class="pb-3 text-center text-capitalize">
        <h1>Digital banking made easy</h1>

        <small class="text-white spacing fw-lighter py-1"
          >Transfer money in a flash</small
        >
      </div>

      <div class="my-3 text-center mb-5">
        <% if (!user) { %>
        <a href="/signup" class="btn btn-light m-2 py-2">
          <i class="bi bi-bookmark-star"></i> Become a Member
        </a>
        <a href="/login" class="btn btn-outline-light m-2 py-2">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
        <% } else { %>

        <a href="/transfer" class="btn btn-light m-2 py-2">
          <i class="bi bi-arrow-down-up"></i> Transfer Money
        </a>
        <a href="/customers" class="btn btn-outline-light m-2 py-2">
          <i class="bi bi-people"></i> View Customers
        </a>
        <% } %>
      </div>
    </section>

    <section class="py-5 text-center">
      <h1>Our Services</h1>

      <div class="row m-auto w-100 py-5">
        <div class="col-md-3 m-auto p-3 border">
          <!-- icon -->
          <i class="bi bi-currency-exchange display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Instant Transactions</h5>
          <!-- desc -->
          <p class="py-2">Send and receive money faster than flash himself</p>
        </div>

        <div class="col-md-3 m-auto p-3 border">
          <!-- icon -->
          <i class="bi bi-clock-history display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Transaction History</h5>
          <!-- desc -->
          <p class="py-2">
            Complete log of all your transactions to keep track
          </p>
        </div>

        <div class="col-md-3 m-auto p-3 border">
          <!-- icon -->
          <i class="bi bi-bookmark-check-fill display-2"></i>
          <!-- title -->
          <h5 class="lead fw-bold py-2 pt-3">Transaction Descriptions</h5>
          <!-- desc -->
          <p class="py-2">
            Add a description to your transaction to remember what it was for
          </p>
        </div>
      </div>
    </section>

    <footer><%- include('./partials/footer') -%></footer>
  </body>
</html>
