<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <header><%- include('./partials/header') -%></header>

    <main
      class="
        container-fluid
        h-100
        d-flex
        align-items-center
        justify-content-center
        flex-column
        pb-5
        home
      "
    >
      <div class="pb-3 text-center text-capitalize">
        <h1>Digital banking made easy</h1>

        <small class="text-white spacing fw-lighter py-1"
          >Transfer money in a flash</small
        >
      </div>

      <div class="my-3 pb-5">
        <button class="btn btn-light mx-2 py-2">
          <i class="bi bi-arrow-down-up"></i> Transfer Money
        </button>
        <button class="btn btn-outline-light mx-2 py-2">
          <i class="bi bi-people"></i> View Customers
        </button>
      </div>
    </main>
  </body>
</html>
