* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  position: relative;
  max-width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}

.hero {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.copyright {
  background-color: #37383d;
  color: white;
}

.copyright p {
  color: #aaa;
  font-size: 0.9rem;
}

.spacing {
  letter-spacing: 2px;
}

.btn-table {
  background-color: #1ea064;
  color: white;
}

.accordion-button {
  background-color: #f3f3f3;
}

.btn-outline-dark:hover {
  color: white !important;
}

.btn:hover {
  transform: scale(1.05);
  transition: all linear 0.3s;
}

.nav-link:hover {
  transform: scale(1.05);
  transition: all linear 0.3s;
}

tbody tr:nth-child(even) {
  background: rgb(209, 224, 248);
}

@media only screen and (max-width: 768px) {
  .form {
    width: 85% !important;
  }

  .align-self-center {
    margin: 0.3rem auto;
  }
}

@media only screen and (max-width: 540px) {
  .service {
    margin-bottom: 1.5rem !important;
    width: 80% !important;
  }
}
